<?xml version="1.0"?>
<config>
    <modules>
        <Riyada_Price>
             <version>1.2.3</version>
        </Riyada_Price>
    </modules>
    <global>
        <blocks>
            <price>
                <class>Riyada_Price_Block</class>
            </price>
        </blocks>
        <models>
            <prices>
                <class>Riyada_Price_Model</class>
            </prices>
        </models>
        <resources>
            <price_setup>
                <setup>
                    <module>Riyada_Price</module>
                    <class>Riyada_Price_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </price_setup>
            <price_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </price_write>
            <price_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </price_read>
            
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <price>
                    <file>provider.xml</file>
                </price>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <riyada_save_product_data>
                        <type>singleton</type>
                        <class>price/observer</class>
                        <method>saveProductTabData</method>
                    </riyada_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>