<?xml version="1.0"?>
<config>
    <modules>
        <Riyada_Provider>
            <version>0.1.0</version>
        </Riyada_Provider>
    </modules>
    <global>
        <blocks>
            <provider>
                <class>Riyada_Provider_Block</class>
            </provider>
        </blocks>
        <models>
            <provider>
                <class>Riyada_Provider_Model</class>
            </provider>
        </models>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <provider>
                    <file>provider.xml</file>
                </provider>
            </updates>
        </layout>
        <events>
            <catalog_product_save_after>
                <observers>
                    <Riyada_save_product_data>
                        <type>singleton</type>
                        <class>provider/observer</class>
                        <method>saveProductTabData</method>
                    </Riyada_save_product_data>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>
</config>