<?xml version="1.0"?>
<config>
    <modules>
        <Riyada_IMEI>
            <version>1.0.0</version>
        </Riyada_IMEI>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <riyada_imei>
                    <file>imei_customsales.xml</file>
                </riyada_imei>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <riyada_imei>
                <class>Riyada_IMEI_Model</class>
                <resourceModel>riyada_imei_resource</resourceModel>
            </riyada_imei>
            <riyada_imei_resource>
                <class>Riyada_IMEI_Model_Resource</class>
                <entities>
                    <riyada_provider>
                        <table>riyada_provider</table>
                    </riyada_provider>
                </entities>
            </riyada_imei_resource>
            <sales>
                <rewrite>
                    <order_pdf_invoice>Riyada_IMEI_Model_Order_Pdf_Invoice</order_pdf_invoice>
                    <order_pdf_items_invoice_default>Riyada_IMEI_Model_Order_Pdf_Items_Invoice_Default</order_pdf_items_invoice_default>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <riyada_imei>
                <class>Riyada_IMEI_Block</class>
            </riyada_imei>
            <sales>
                <rewrite>
                    <order_email_items_order_default>Riyada_IMEI_Block_Sales_Order_Email_Items_Order_Default</order_email_items_order_default>
                    <order_email_items_default>Riyada_IMEI_Block_Sales_Order_Email_Items_Default</order_email_items_default>
                </rewrite>
            </sales>
        </blocks>
        <helpers>
            <riyada_imei>
                <class>Riyada_IMEI_Helper</class>
            </riyada_imei>
        </helpers>
        <resources>
            <riyada_imei_setup>
                <setup>
                    <module>Riyada_IMEI</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </riyada_imei_setup>
        </resources>
        <fieldsets>
            <sales_convert_order>
                <delivery_date>
                    <to_quote>*</to_quote>
                    <to_invoice>*</to_invoice>
                    <to_shipment>*</to_shipment>
                    <to_cm>*</to_cm>
                </delivery_date>
            </sales_convert_order>
        </fieldsets>
    </global>
    <admin>
        <routers>
            <custominvoice>
                <use>admin</use>
                <args>
                    <frontName>custominvoice</frontName>
                    <module>Riyada_IMEI</module>
                </args>
            </custominvoice>
        </routers>
    </admin>
</config>